## Naive Bayes Model

## Due date

March 23, 2023

N.B.: You are allowed to consult lecture notebooks, the kaggle competition, ChatGPT, and Stack Overflow. You are also permitted to work with one other student.

## Assignment description


Your task is to train a Naive Bayes model on the [Sentiment Analysis on Movie Reviews](https://www.kaggle.com/competitions/sentiment-analysis-on-movie-reviews/data). The dataset contains 15,000 movie reviews. Your task is to train a Naive Bayes model on the training set and predict the labels of the test set. You will be evaluated on the methodologies you use to train the model and a comparison of your solutions. Your higest performing model will become your baseline model.

### Data

The dataset contains movie reviews from Rotten Tomatoes. Each review is labeled as follows:

* 0 - negative
* 1 - somewhat negative
* 2 - neutral
* 3 - somewhat positive
* 4 - positive

In addition to the entire review, the reviews are split into phrases and each phrase is labeled. The entire review is assigned a `SentenceID` and each phrase is assigned a `PhraseID`. The phrases were produced by the Stanford Parser (stanza). You are free to use the entire review or the phrases to train your model. In addition, you are free to create additional features from the data (such as Brown Tags). Finally, you are free to adjust the labels to negative, neutral, positive, if a classificaiton report demonstrates that a certain label is underperforming.

## Section 0: Load the data

In [3]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('data/nb_train.tsv', sep='\t')
test_df = pd.read_csv('data/nb_test.tsv', sep='\t')

In [7]:
## train data
train_df.head(20)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2
15,16,1,that what is good for the goose,2
16,17,1,that,2
17,18,1,what is good for the goose,2
18,19,1,what,2
19,20,1,is good for the goose,2

In [9]:
train_df.shape

(156060, 4)

In [8]:
## test data
test_df.head(20)

    PhraseId  SentenceId                                             Phrase
0     156061        8545  An intermittently pleasing but mostly routine ...
1     156062        8545  An intermittently pleasing but mostly routine ...
2     156063        8545                                                 An
3     156064        8545  intermittently pleasing but mostly routine effort
4     156065        8545         intermittently pleasing but mostly routine
5     156066        8545                        intermittently pleasing but
6     156067        8545                            intermittently pleasing
7     156068        8545                                     intermittently
8     156069        8545                                           pleasing
9     156070        8545                                                but
10    156071        8545                                     mostly routine
11    156072        8545                                             mostly
12    156073        8545                                            routine
13    156074        8545                                             effort
14    156075        8545                                                  .
15    156076        8546  Kidman is really the only thing that 's worth ...
16    156077        8546                                             Kidman
17    156078        8546  is really the only thing that 's worth watchin...
18    156079        8546  is really the only thing that 's worth watchin...
19    156080        8546                                          is really

In [10]:
test_df.shape

(66292, 3)

## Section 1: Data Exploration

In the following section, please explore the data. You should explore the data to understand the following:

* has the data been preprocessed already?
* How many reviews are in the dataset?
* How many phrases are in the dataset?
* What is the distribution of the labels? (i.e. how many reviews are negative, neutral, positive)
* What is the distribution of the labels for each phrase? (i.e. how many phrases are negative, neutral, positive)
* What is the distribution of the words/tokens in the dataset?
* How many unique words are in the dataset?

In [ ]:
### YOUR CODE HERE

## Section 2: Data Preprocessing

In the following section, please preprocess the data. How you preprocess the data will align with what features you are engineering for your model. This might include: tokenization, lemmatization, stemming, removing stopwords, etc. You should also consider how you will handle the labels. You might consider the following: one-hot encoding, label encoding, etc.

In [ ]:
### YOUR CODE HERE

## Section 3: Feature Engineering

In this section, you should engineer features for your model. You could consider the following: bag of words, tf-idf, brown tags.

In [ ]:
### YOUR CODE HERE

## Section 4: Model Training

In this section, you should engineer at least two models. You should train each model on the training set and evaluate the performance of each model on the test set. You should also compare the performance of each model. You should also explain the performance of each model.

In [ ]:
### YOUR CODE HERE

## Section 5: Model Evaluation

In this section, you should evaluate the performance of your model. You should consider the following: accuracy, precision, recall, f1-score, confusion matrix, classification report, etc.

In [ ]:
### YOUR CODE HERE

## Section 6: Summary

Please answer the following questions:
    
* What is the performance of your model?



* What are the limitations of your model?



* What are the strengths of your model?



* What is the assumption of Naive Bayes? How does the assumption introduce bias into your model?



* Why do you think Naive Bayes is a popular model?